<h2>一. 背景</h2>
<p>简明扼要描述现状是什么样的，遇到了什么样的问题。</p>

<h2>二. 需求</h2>
<h3>需求说明</h3>
<p>链接下产品设计文档，简单描述下需要解决具体问题是什么，优化的具体场景有哪些。</p>

<table>
<tbody>
<tr>
<th>模块</th>
<th>链接地址</th>
</tr>
<tr>
<td>任务链接</td>
<td></td>
</tr>
<tr>
<td>产品文档</td>
<td></td>
</tr>
<tr>
<td>交互文档</td>
<td></td>
</tr>
<tr>
<td>视觉文档</td>
<td></td>
</tr>
</tbody>
</table>

<h3>功能拆解</h3>
<p>采用自顶向下的设计，用思维导图的形式梳理要实现的功能、子功能拆解。</p>

<h2>三. 实现方案</h2>
<h3>功能概要设计</h3>
<p>描述技术实现方案有哪些，各自的优缺点，最终选择的方案，实现原理等。建议提供至少2个设计方案对比。</p>
<p>该任务是否涉及FD组件，FD现有接口是否可以满足迭代需求。如果不满足，有什么解决方案【例如给FD提需求、自己实现等等】</p>

<table>
<tbody>
<tr>
<th>方案</th>
<th>实现原理</th>
<th>优点</th>
<th>缺点</th>
</tr>
<tr>
<td>方案一</td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>方案二</td>
<td></td>
<td></td>
<td></td>
</tr>
</tbody>
</table>

<h3>功能详细设计</h3>
<p>对选择的方案进行详细的功能设计，必要的话提供UML图进行描述。</p>

<h3>竞品分析</h3>
<p>提供几种竞品的功能，技术对比方案。</p>

<h3>逻辑描述</h3>
<p>提供完整的功能逻辑图，业务流程图。</p>

<h3>组件及其层次管理</h3>
<p>前端提供入口 → 页面 → 组件的完整设计，包含组件层级、数据传递关系。</p>

<h3>接口设计</h3>
<h4>类</h4>
<p><strong>MyClass</strong></p>

<p><strong>重要属性</strong></p>
<table>
<tbody>
<tr>
<th>名称</th>
<th>类型</th>
<th>含义</th>
</tr>
<tr>
<td>attribute1</td>
<td>string</td>
<td>控件名</td>
</tr>
<tr>
<td>attribute2</td>
<td>boolean</td>
<td>控件是否可用</td>
</tr>
</tbody>
</table>

<p><strong>重要方法</strong></p>
<p><code>setValue(value)</code></p>
<table>
<tbody>
<tr>
<th>名称</th>
<th>参数类型</th>
<th>返回值类型</th>
<th>含义</th>
</tr>
<tr>
<td>value</td>
<td>string</td>
<td>object</td>
<td>控件值</td>
</tr>
</tbody>
</table>

<h3>代码设计</h3>
<p>代码结构设计要与整体实现方案设计能相对应。</p>

<h3>难点分析</h3>
<p>简单分析下任务开发的难点。</p>

<h3>CBB计划</h3>
<p><strong>计划分离的CBB内容</strong></p>
<table>
<tbody>
<tr>
<th>序号</th>
<th>CBB</th>
<th>简介</th>
<th>开发周期</th>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
</tbody>
</table>

<p><strong>计划使用的CBB内容</strong></p>
<table>
<tbody>
<tr>
<th>序号</th>
<th>CBB</th>
<th>用途</th>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
</tr>
</tbody>
</table>

<h2>四. 测试建议(重点)</h2>
<table>
<tbody>
<tr>
<th>分类</th>
<th>自检</th>
<th>改动及影响</th>
<th>测试建议</th>
</tr>
<tr>
<td rowspan="4"><strong>【当前功能】的测试建议</strong></td>
<td>是否需要测试配合做竞品对比测试验收</td>
<td></td>
<td></td>
</tr>
<tr>
<td>是否需要性能测试</td>
<td></td>
<td></td>
</tr>
<tr>
<td>是否需要安全测试</td>
<td></td>
<td></td>
</tr>
<tr>
<td>当前迭代哪些功能点需要测试重点关注(必填)</td>
<td></td>
<td></td>
</tr>
<tr>
<td rowspan="3"><strong>【兼容性】可能带来的影响</strong></td>
<td>对已发布插件的影响</td>
<td></td>
<td></td>
</tr>
<tr>
<td>新旧服务器访问影响</td>
<td></td>
<td></td>
</tr>
<tr>
<td>其他兼容性问题</td>
<td></td>
<td></td>
</tr>
<tr>
<td rowspan="2"><strong>【关联模块】的影响</strong></td>
<td>对BI、FVS已有功能影响</td>
<td></td>
<td></td>
</tr>
<tr>
<td>其他已有功能影响</td>
<td></td>
<td></td>
</tr>
<tr>
<td rowspan="2"><strong>【其他团队】负责功能的影响</strong></td>
<td>是否涉及后台代码改动</td>
<td></td>
<td></td>
</tr>
<tr>
<td>是否需要通知其他团队测试</td>
<td></td>
<td></td>
</tr>
</tbody>
</table>

<h2>五. 开发计划</h2>
<h3>开发耗时预估</h3>
<table>
<tbody>
<tr>
<th>任务</th>
<th>预估时间</th>
</tr>
<tr>
<td>功能点1</td>
<td>1d</td>
</tr>
<tr>
<td>功能点2</td>
<td>2d</td>
</tr>
<tr>
<td>前后端对接</td>
<td>1d</td>
</tr>
<tr>
<td>自测</td>
<td>1d</td>
</tr>
</tbody>
</table>

<h3>转测时间</h3>
<p>实际转测时间【需要考虑PR评审修改、打包构建、自测等时间】<strong>2024-12-31</strong></p>

